
@model IEnumerable<Subject>
@{
    ViewData["Title"] = "Information Subject";
}

<h1>@ViewData["Title"]</h1>


<strong>Desde la vista parcial</strong>
<partial name="ListObjectSchool" model="Model"></partial>


<i><i>@ViewBag.date</i></i>