
@model Student
@{
    ViewData["Title"] = "Information Student";
}

<h1>@ViewData["Title"]</h1>



<strong>Desde la vista parcial</strong>
<partial name="ObjectSimpleSubject" />


<i><i>@ViewBag.date</i></i>