@model School
@{
    ViewData["Title"] = "Information School";
}

<h1>School @ViewData["Title"]</h1>
<h2>Name: @Model.Name </h2>
<p><strong>Foundation year : @Model.CreateYear</strong></p>

<p><i>@ViewBag.ThingDinamic</i></p>